# .NET Core
bin/
obj/
[Bb]in/
[Oo]bj/
*.user
*.pdf
*.exe
*.dll
*.pdb

# IDE and Build Metadata
.vs/
.gemini/
.msvc/
*.db
*.db-shm
*.db-wal
*.metadata.*
*.projects.*
*.strings.*
*.v9.bin
CodeChunks.db
SemanticSymbols.db

# Secrets
appsettings.json


